body {
  background-color: #404040;
}

#table {
  overflow: auto;
}

#add-form {
  padding: 10px 0;
}

th, td {
  text-align: center;
}

h1 {
  font-family: 'Aladin' !important;
}

.form-text {
  color: #ffffff;
  font-weight: 900;
}